openai
streamlit
moviepy
streamlit_webrtc
pydub
transformers
langchain
langchain_community
python-dotenv
langchain-openai 
youtube-transcript-api
faiss-cpu
langchain_experimental 
numexpr
google-search-results 
langchainhub 
langchain-groq
tabulate
wikipedia
duckduckgo-search 
langchain-chroma
pypdf
peewee
sounddevice
opencv-python
googletrans